
<p *ngIf="!service.foodlist"><em>Loading...</em></p>

<table class='table table-hover' aria-labelledby="tableLabel" *ngIf="service.foodlist">
  <thead>
    <tr>
      <th hidden>Id</th>
      <th>Food Name</th>
      <th>Food Number</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of service.foodlist">
      <td (click)="populateForm(food)" hidden>{{ food.id }}</td>
      <td (click)="populateForm(food)">{{ food.foodName }}</td>
      <td (click)="populateForm(food)">{{ food.foodNo }}</td>
      <td (click)="populateForm(food)">{{ food.description }}</td>
      <td (click)="populateForm(food)">{{ food.price }}</td>

      <td>
        <button class="btn-danger btn-block" (click)="onDelete(food.id)" type="button">Delete</button>
        
      </td>
    </tr>
  </tbody>
</table>
